.event {
   padding-block: 2em 4em;
   display: flex;
   flex-direction: column;
   gap: 1em;
}

.headline {
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   gap: 1em;
}

.headline h2 {
   font-size: 1em;
   font-weight: 600;
   color: #6A6A6A;
}

.headline h1 {
   max-width: 50rem;
}

.card {
   display: flex;
   gap: 1em;
}

.card>* {
   flex: 1 1 50%;
}

.image {
   position: relative;
   aspect-ratio: 2/1;
   user-select: none;
   overflow: hidden;
}

.src {
   object-fit: cover;
}

.lead {
   text-align: justify;
   font-size: 1.2em;
   font-weight: 300;
}

@media screen and (max-width: 48rem) {
   .card {
      flex-direction: column;
   }

   .image {
      width: 100%;
   }
}